<% include ../_layout/header %>

<div id="app">
    <section class="hero is-light">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Input Request
                </h1>
            </div>
        </div>
    </section>

    <form @submit.prevent="saveRequest">
        <div class="columns">
            <div class="column is-one-third is-offset-one-third">
                <div class="field">
                    <label class="label">ID Petugas</label>
                    <div class="control">
                        <input class="input" type="text" v-model="request.id_user" readonly>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Tanggal</label>
                    <div class="control">
                        <input class="input" type="date" v-model="request.tanggal" required>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-half">
                        <div class="field">
                            <label class="label">Jam Lapor</label>
                            <div class="control">
                                <input class="input" type="time" step="1" v-model="request.jam_lapor" required>
                            </div>
                        </div>
                    </div>
                    <div class="column is-half">
                        <div class="field">
                            <label class="label">Jam Selesai</label>
                            <div class="control">
                                <input class="input" type="time" step="1" v-model="request.jam_selesai" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Unit</label>
                    <div class="select is-fullwidth">
                        <select v-model="request.id_unit" required>
                            <option v-for="(unit, index) in units" :value="unit.id_unit"
                                :key="index">{{ unit.nama_unit }}</option>
                        </select>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Isi request</label>
                    <div class="control">
                        <textarea class="textarea" cols="30" rows="5" 
                            v-model="request.isi_request" required></textarea>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Keterangan</label>
                    <div class="control">
                        <textarea class="textarea" cols="30" rows="5" 
                            v-model="request.keterangan"></textarea>
                    </div>
                </div>
                <button class="button" type="button" @click="window.history.back()" 
                    v-if="request.id_request">Batal</button>
                <button class="button is-primary is-pulled-right" type="submit">Simpan</button>
            </div>
        </div>
    </form>
</div>

<script src="/js/axios.min.js"></script>
<script src="/js/request/index.js"></script>

<% include ../_layout/footer %>