<% include ../_layout/header %>

<div id="app">
    <section class="hero is-light">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Input Request
                </h1>
            </div>
        </div>
    </section>

    <form @submit.prevent="saveRequest">
        <div class="columns">
            <div class="column is-one-third is-offset-one-third">
                <div class="field">
                    <label class="label">ID Petugas</label>
                    <div class="control">
                        <input class="input" type="text" v-model="request.id_user" readonly>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Tanggal</label>
                    <div class="control">
                        <input class="input" type="date" v-model="request.tanggal" 
                            :min="batas_tgl" :max="batas_tgl" readonly required>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-half">
                        <div class="field">
                            <label class="label">Jam Lapor</label>
                            <div class="control">
                                <input class="input" type="time" step="1" v-model="request.jam_lapor" required>
                            </div>
                        </div>
                    </div>
                    <div class="column is-half">
                        <div class="field">
                            <label class="label">Jam Selesai</label>
                            <div class="control">
                                <input class="input" type="time" step="1" :min="request.jam_lapor" 
                                    v-model="request.jam_selesai">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Unit</label>
                    <div class="select is-fullwidth">
                        <select v-model="request.id_unit" required>
                            <option v-for="(unit, index) in units" :value="unit.id_unit" :key="index">
                                {{ unit.nama_unit }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Kategori</label>
                    <div class="select is-fullwidth">
                        <select v-model="request.id_kategori" required>
                            <option v-for="(kategori, index) in kategoris" :value="kategori.id_kategori" :key="index">
                                {{ kategori.nama_kategori }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Isi request</label>
                    <div class="control">
                        <textarea class="textarea" cols="30" rows="5" v-model="request.isi_request" minlength="5"
                            maxlength="500" required></textarea>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Keterangan</label>
                    <div class="control">
                        <textarea class="textarea" cols="30" rows="5" minlength="15" maxlength="500"
                            v-model="request.keterangan"></textarea>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Rencana Tindak Lanjut</label>
                    <div class="control">
                        <textarea class="textarea" cols="30" rows="5" minlength="15" maxlength="500"
                            v-model="request.rencanatl"></textarea>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-10">
                        <div class="field file has-name is-fullwidth">
                            <label class="file-label">
                                <input class="file-input" type="file" ref="img_up" @change="handleUp">
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="file-label">
                                        Unggah gambar…
                                    </span>
                                </span>
                                <span class="file-name">
                                    {{ file.name }}
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="column is-2">
                        <button class="button" @click="clearImg" title="hapus gambar">
                            <span class="icon is-small">
                                <i class="fas fa-times"></i>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="field">
                    <figure class="image">
                        <img :src="imgSrc">
                    </figure>
                    <button class="button" type="button" @click="setImageNull"
                        v-if="request.id_request">Hapus gambar sekarang</button>
                </div>
                <button class="button" type="button" @click="window.history.back()"
                    v-if="request.id_request">Batal</button>
                <button class="button is-primary is-pulled-right" :class="{ 'is-loading': is_loading }"
                    type="submit">Simpan</button>
            </div>
        </div>
    </form>
</div>

<script src="/js/axios.min.js"></script>
<script src="/js/request/index.js"></script>

<% include ../_layout/footer %>