<% include ../_layout/header %>

<div id="app">
    <section class="hero is-light">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Daftar Request Hari Ini, {{ tanggal | fmtTanggal }} oleh {{ petugas }}
                </h1>
            </div>
        </div>
    </section>

    <div class="columns is-centered">
        <div class="column is-narrow table-container is-full">
            <table class="table is-fullwidth is-striped" v-if="requests.length > 0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Jam Lapor</th>
                        <th>Jam Selesai</th>
                        <th>Unit</th>
                        <th style="width: 15em;">Isi Request</th>
                        <th style="width: 15em;">Keterangan dan RTL</th>
                        <th>Opsi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(req, index) in requests" :key="index">
                        <td>{{ req.id_request }}</td>
                        <td>{{ req.jam_lapor }}</td>
                        <td>{{ req.jam_selesai }}</td>
                        <td>{{ req.nama_unit }}</td>
                        <td>{{ req.isi_request }}</td>
                        <td>
                            {{ req.keterangan }}
                            <br>
                            <template v-if="req.rencanatl">
                                <b>RTL:</b> {{ req.rencanatl }}
                            </template>
                            <br>
                            <a :href="'/img-up/'+req.img_name" 
                                v-if="req.img_name" target="_blank">
                                <figure class="image is-128x128" style="overflow: hidden">
                                    <img :src="'/img-up/thumb/'+req.img_name">
                                </figure>
                            </a>
                        </td>
                        <td>
                            <button class="button is-text" @click="editReq(req.id_request, req.img_name)" title="Ubah">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button class="button is-text has-text-danger" @click="deleteReq(req.id_request)" title="Hapus">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="notification is-warning" v-else>
                Tidak Ditemukan Data ...
            </div>
        </div>
    </div>
</div>

<script src="/js/axios.min.js"></script>
<script src="/js/request/listtoday.js"></script>

<% include ../_layout/footer %>