<% include _layout/header %>

<div id="app">
    <div class="columns">
        <div class="column is-centered">
            <canvas id="chart-top-petugas" 
                width="640" height="120"></canvas>
        </div>
    </div>
</div>

<script src="/js/axios.min.js"></script>
<script src="/js/Chart.min.js"></script>

<% include _layout/footer %>
