thead th {
    position: sticky;
    top: 0;
    background-color: rgba(255,255,255,.7);
    z-index: 2;
}

.thumb {
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 5px;
    max-width: 128px;
    max-height: 128px;
}
