<% include ../_layout/l_head %>

<div id="app">
    <section class="hero is-light">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Login
                </h1>
            </div>
        </div>
    </section>

    <form>
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                <div class="field">
                    <label class="label">Username</label>
                    <div class="control">
                        <input class="input" type="text">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                        <input class="input" type="password">
                    </div>
                </div>
                <button class="button is-primary is-pulled-right" type="submit">Login</button>
            </div>
        </div>
    </form>
</div>

<script src="/js/user/login.js"></script>

<% include ../_layout/l_foot %>
