            </div>
        </section>
        
        <footer class="footer">
            <div class="container">
                <div class="content has-text-centered">
                    <p>
                        <img src="/img/rsi-min.png" alt="Logo RSI kecil" style="vertical-align: bottom;">
                        |
                        &copy; 2019 - <span id="current-year"></span>
                        <strong>request-log</strong> 
                        made with ❤ by <a href="https://github.com/rzwibowo">Wibowo Devs</a>.
                    </p>
                </div>
            </div>
        </footer>

<script>
    const navScript = new Vue({
        el: '#nav-main',
        data: {
            isOpen: false,
            user: {}
        },
        created: function () {
            this.checkAuth();
        },
        methods: {
            checkAuth: function () {
                this.user = JSON.parse(localStorage.getItem('rql_usr'));
                if (this.user === null) {
                    window.location.assign('/user/login');
                }
            },
            logout: function () {
                localStorage.removeItem('rql_usr');
                this.checkAuth();
            }
        }
    })

    const yrEl = document.getElementById('current-year');
    const currYr = new Date().getFullYear();
    yrEl.textContent = currYr;
</script>
</body>
</html>