    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
            <p>
                <strong>request-log</strong> by <a href="https://github.com/rzwibowo">Wibowo Devs</a>.
            </p>
            </div>
        </div>
    </footer>
</body>
</html>