<% include ../_layout/header %>

<div id="app">
    <section class="hero is-light">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Laporan Bulanan
                </h1>
            </div>
        </div>
    </section>

    <div class="columns">
        <div class="column is-one-quarter is-offset-one-quarter">
            <div class="field">
                <label class="label">Pilih bulan</label>
                <div class="select">
                    <select v-model="bulan" @change="listRequest">
                        <option v-for="(bl, index) in namaBulan" :key="index" :value="index + 1">
                            {{ bl }}</option>
                    </select>
                </div>
                <div class="select">
                    <select v-model="tahun" @change="listRequest">
                        <option v-for="(th, index) in tahuns" :value="th"
                            :key="index">{{ th }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="column is-one-quarter" style="margin-top: auto" @click="exportExcel">
            <button class="button" type="button" :disabled="!(requests.length > 0)">
                <span class="icon is-medium">
                    <i class="fas fa-file-download"></i>
                </span>
                <span>Download Sbg File Excel</span>
            </button>
        </div>
    </div>

    <div class="columns is-centered is-multiline">
        <div class="column is-narrow">
            <h4 class="title is-4">Permintaan Bulan {{ namaBulan[bulan - 1] }} {{ tahun }}</h4>
        </div>
    </div>

    <div class="columns is-centered is-multiline">
        <div class="column is-narrow" style="overflow-x: auto;">
            <table class="table is-fullwidth" v-if="requests.length > 0">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Tanggal</th>
                        <th>Jam Lapor</th>
                        <th>Jam Selesai</th>
                        <th>Unit</th>
                        <th>Isi Request</th>
                        <th>Keterangan</th>
                        <th>Petugas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(req, index) in requests" :key="index">
                        <td>{{ index + 1 }}.</td>
                        <td>{{ req.tanggal | fmtHari }}</td>
                        <td>{{ req.jam_lapor }}</td>
                        <td>{{ req.jam_selesai }}</td>
                        <td>{{ req.nama_unit }}</td>
                        <td>{{ req.isi_request }}</td>
                        <td>{{ req.keterangan }}</td>
                        <td>{{ req.petugas }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="notification is-warning" v-else>
                Tidak Ditemukan Data ...
            </div>
        </div>
    </div>
</div>

<script src="/js/axios.min.js"></script>
<script src="/js/FileSaver.min.js"></script>
<script src="/js/laporan/bulanan.js"></script>

<% include ../_layout/footer %>