<% include ../_layout/header %>

<div id="app">
    <section class="hero is-light">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Laporan Harian
                </h1>
            </div>
        </div>
    </section>

    <div class="columns">
        <div class="column is-one-quarter">
            <div class="field">
                <label class="label">Tanggal</label>
                <div class="control">
                    <input class="input" type="date" v-model="tanggal" 
                        @change="listRequest">
                </div>
            </div>
        </div>
        <div class="column is-one-quarter">
            <div class="field">
                <label class="label">Petugas</label>
                <div class="control">
                    <div class="select">
                        <select v-model="petugas" @change="listRequest">
                            <option value="0" selected>Semua</option>
                            <option v-for="(pt, index) in petugases" :key="index" :value="pt.id_user">
                                {{ pt.nama_lengkap }}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="column" style="margin-top: auto">
            <button class="button is-pulled-right" type="button" 
                @click="exportExcel" :disabled="!(requests.length > 0)">
                <span class="icon is-medium">
                    <i class="fas fa-file-download"></i>
                </span>
                <span>Download Sbg File Excel</span>
            </button>
        </div>
    </div>

    <div class="columns is-centered is-multiline">
        <div class="column is-narrow">
            <h4 class="title is-4">Permintaan Tanggal {{ tanggal | fmtTanggal }}</h4>
        </div>
    </div>

    <div class="columns is-centered is-multiline">
        <div class="column is-narrow table-container is-full" style="overflow-x: auto;">
            <table class="table is-fullwidth is-striped" v-if="requests.length > 0">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Jam Lapor</th>
                        <th>Jam Selesai</th>
                        <th>Unit</th>
                        <th style="width: 15em;">Isi Request</th>
                        <th style="width: 15em;">Keterangan dan RTL</th>
                        <th>Petugas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(req, index) in requests" :key="index">
                        <td>{{ index + 1 }}.</td>
                        <td>{{ req.jam_lapor }}</td>
                        <td>{{ req.jam_selesai }}</td>
                        <td>{{ req.nama_unit }}</td>
                        <td>{{ req.isi_request }}</td>
                        <td>
                            {{ req.keterangan }}
                            <br>
                            <template v-if="req.rencanatl">
                                <b>RTL:</b> {{ req.rencanatl }}
                            </template>
                            <br>
                            <a :href="'/img-up/'+req.img_name" 
                                v-if="req.img_name" target="_blank">
                                <figure class="image is-128x128">
                                    <img :src="'/img-up/thumb/'+req.img_name">
                                </figure>
                            </a>
                        </td>
                        <td>{{ req.petugas }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="notification is-warning" v-else>
                Tidak Ditemukan Data ...
            </div>
        </div>
    </div>
</div>

<script src="/js/axios.min.js"></script>
<script src="/js/FileSaver.min.js"></script>
<script src="/js/laporan/harian.js"></script>

<% include ../_layout/footer %>