<% include ../_layout/header %>

<div id="app">
    <section class="hero is-light">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Laporan Triwulan
                </h1>
            </div>
        </div>
    </section>

    <div class="columns">
        <div class="column is-narrow">
            <div class="field">
                <label class="label">Triwulan</label>
                <div class="select">
                    <select v-model="triwulan" @change="listRequest">
                        <option v-for="i in 4" :key="i" :value="i">
                            Triwulan {{ i }}</option>
                    </select>
                </div>
                <div class="select">
                    <select v-model="tahun" @change="listRequest">
                        <option v-for="(th, index) in tahuns" :value="th"
                            :key="index">{{ th }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="field">
                <label class="label">Unit</label>
                <div class="control">
                    <div class="select">
                        <select v-model="unit" @change="listUserAndReq" :disabled="lv !== 1">
                            <option value="0" selected>Semua</option>
                            <option v-for="(un, index) in units" :key="index" :value="un.id_unit">
                                {{ un.nama_unit }}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-narrow">
            <div class="field">
                <label class="label">Petugas</label>
                <div class="control">
                    <div class="select">
                        <select v-model="petugas" @change="listRequest">
                            <option value="0" selected>Semua</option>
                            <option v-for="(pt, index) in petugases" :key="index" :value="pt.id_user">
                                {{ pt.nama_lengkap }}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-narrow">
            <div class="field">
                <label class="label">Tampilkan baris</label>
                <div class="control">
                    <div class="select">
                        <select v-model="baris" @change="setBaris">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option :value="requests.length">Semua [{{requests.length}}]</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="column" style="margin-top: auto">
            <button class="button is-pulled-right" type="button"
                @click="exportExcel" :disabled="!(requests.length > 0)">
                <span class="icon is-medium">
                    <i class="fas fa-file-download"></i>
                </span>
                <span>Download Sbg File Excel</span>
            </button>
        </div>
        <div class="column" style="margin-top: auto">
            <button class="button is-pulled-right" type="button" 
                @click="exportPdf" :disabled="!(requests.length > 0)">
                <span class="icon is-medium">
                    <i class="fas fa-file-pdf"></i>
                </span>
                <span>Download Sbg File PDF</span>
            </button>
        </div>
    </div>

    <div class="columns is-centered is-multiline">
        <div class="column is-narrow">
            <h4 class="title is-4">Log Triwulan {{ triwulan }} Tahun {{ tahun }}</h4>
        </div>
    </div>

    <div class="columns is-centered is-multiline">
        <div class="column is-narrow table-container is-full"
            v-if="requests.length > 0">
            <table class="table is-fullwidth is-striped">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Tanggal</th>
                        <th>Jam Lapor</th>
                        <th>Jam Selesai</th>
                        <th>Unit</th>
                        <!-- <th>Kategori</th> -->
                        <th style="width: 15em;">Isi Log</th>
                        <th style="width: 15em;">Keterangan dan RTL</th>
                        <th>Petugas</th>
                    </tr>
                </thead>
                <tbody>
                    <template v-if="is_loading">
                        <tr>
                            <td colspan="8" class="is-centered">
                                <i class="fas fa-spinner fa-pulse"></i>
                                Memuat data ...
                            </td>
                        </tr>
                    </template>
                    <template v-else>
                        <tr v-for="(req, index) in requests_paged" :key="index">
                            <td>{{ index + 1 + awal }}.</td>
                            <td>{{ req.tanggal }}</td>
                            <td>{{ req.jam_lapor }}</td>
                            <td>{{ req.jam_selesai }}</td>
                            <td>{{ req.nama_unit }}</td>
                            <!-- <td>{{ req.nama_kategori }}</td> -->
                            <td>{{ req.isi_request }}</td>
                            <td>
                                {{ req.keterangan }}
                                <br v-if="req.rencanatl && req.keterangan">
                                <template v-if="req.rencanatl">
                                    <b>RTL:</b> {{ req.rencanatl }}
                                </template>
                                <br v-if="req.img_name && (req.keterangan || req.rencanatl)">
                                <a :href="'/img-up/'+req.img_name" 
                                    v-if="req.img_name" target="_blank">
                                    <figure class="image thumb" style="overflow: hidden">
                                        <img :src="'/img-up/thumb/'+req.img_name">
                                    </figure>
                                </a>
                            </td>
                            <td>{{ req.petugas }}</td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
        <div class="column" v-if="requests.length > 0">
            <div class="columns">
                <div class="column is-3 is-offset-7">
                    <p class="is-pulled-right">
                        Data ke 
                        <b>{{ awal + 1 }} - {{ akhir >= requests.length ? requests.length : akhir }}</b>
                        dari 
                        <b>{{ requests.length }}</b> data
                    </p>
                </div>
                <div class="column is-narrow" style="text-align: right;">
                    <button type="button" class="button" 
                        :disabled="awal === 0"
                        @click="pageNav(0)">
                        <span class="icon is-medium">
                            <i class="fas fa-angle-left"></i>
                        </span>
                    </button>
                    <button type="button" class="button"
                        :disabled="akhir >= requests.length"
                        @click="pageNav(1)">
                        <span class="icon is-medium">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="notification is-warning" v-else>
            Tidak Ditemukan Data ...
        </div>
    </div>
</div>

<script src="/js/axios.min.js"></script>
<script src="/js/FileSaver.min.js"></script>
<script src="/js/laporan/triwulan.js"></script>

<% include ../_layout/footer %>